<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map Title</title>
</head>
<body>
<div>Here you will see a map...</div>

<div id="map" style="height:430px;"></div>
<script>
    function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 30.0, lng: 0.0},
            scrollwheel: true,
            zoom: 2
        });

        var visitedCountries = ['UA', 'NO', 'DE', 'FI', 'GE', 'SK', 'IT', 'ES', 'FR', 'DK', 'LV', 'LT',
                'EST', 'PL', 'AD', 'FO', 'ME', 'CZ', 'AT', 'BE', 'BY', 'NL'],
            cond = "ISO_2DIGIT IN ('" + visitedCountries.join("', '")+ "')",
            layer = new google.maps.FusionTablesLayer({
            query: {
                select: 'geometry',
                from: '1N2LBk4JHwWpOY4d9fobIn27lfnZ5MDy-NoqqRpk'
            },
            styles: [{
                //basic gray layout for all countries
                polygonOptions: {
                    fillColor: '#aeabb2',
                    fillOpacity: 0.5
                }
            }, {
                //visited countries
                where: cond,
                polygonOptions: {
                    fillColor: '#f3cf1a'
                }
            }]
        });

       layer.setMap(map);
    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap" async defer></script>



</body>
</html>